global:
  resolve_timeout: 5m

route:
  receiver: 'gmail-notifications'
  group_by: ['alertname']
  group_wait: 10s
  group_interval: 2m
  repeat_interval: 12h

receivers:
  - name: 'gmail-notifications'
    email_configs:
      - to: cgarciag@gmu.edu
        from: chgarcia555@gmail.com
        smarthost: smtp.gmail.com:25
        auth_username: chgarcia555@gmail.com
        auth_identity: chgarcia555@gmail.com
        auth_password:     # Must use Google app password
        require_tls: true
        send_resolved: true

  - name: 'grafana-default'
    # Grafana will use this for Grafana-native alerts (optional)

inhibit_rules: []
