global:
  resolve_timeout: 5m

route:
  receiver: 'grafana-default'
  group_by: ['alertname']
  group_wait: 10s
  group_interval: 5m
  repeat_interval: 12h

receivers:
  - name: 'grafana-default'
    # Minimal receiver - Grafana will handle all routing and notifications

inhibit_rules: []