scrape_configs:
  - job_name: 'ubuntu-snmp'
    scrape_interval: 5s
    metrics_path: /snmp
    params:
      module: [system]        # match module name in snmp.yml
    static_configs:
      - targets:
          - test-monitor-ubuntu
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - target_label: __address__
        replacement: snmp-exporter:9116
      - source_labels: [__param_target]
        target_label: instance
        replacement: test-monitor-ubuntu   # <- Add this
